body { background-color:#e7e7e7; }

#html-container { margin:20px; padding:0; font:normal 11px Arial; }
#page-container { 
    display:block; 
    font-family:Arial, "Lucida Grande";
}

/*** Header&Footer  ***/

#header-section { width:100%; height:180px;}
#header-content { width:100%; height:52px; border:0px solid #000; }
#data-section   { width:100%; border:0px solid #000; }

#menu-commands  { margin:0; border:0px solid #000; }
#view-commands  { margin:0; border:0px solid #000; }

.view-container { border:0px solid #000; }
.form-container { border:0px solid #000; }

div.page-header { 
    background:#882F28; /* #E7E4F0 #FCFCDA */
    border:1px solid #ccc; 
    border-radius:8px;
    text-align:left; 
    font:normal 22px Tahoma,"Lucida Grande"; 
    margin:0; 
    padding:10px 40px;
    color:#fff; 
    float:left;
    -webkit-box-shadow: 0px 3px 20px #14314F;
    box-shadow: 0px 3px 20px #14314F;
}

div.navigation  { margin:10px; border:0px solid #000; float:right; }

.navigation ul  { margin:0; }
.navigation li  { 
    display:inline-block;
    list-style-type:none; 
    background-color:#C86F6D;
    border:1px solid #ccc; 
    border-radius:8px;
    font-size:12px; 
    padding: 0 10px 0 10px; 
}
.navigation a   { color:white; }

h3 { position:relative; text-align:left; font:bold 14px Tahoma,"Lucida Grande"; margin:10px; color:#333; } /*  text-decoration: underline; */

/*** Data Containers ***/

.view-data thead { background:#2D4E86; color:white; padding:10px; }

.header    { font-size:11px; height:24px; vertical-align:center; }
.column    { padding:5px; cursor:pointer; }
.popup     { margin:0; }
.error     { background-color:#D37E7C; color:white; } /* #B04E4C */
.ready     { background-color:#84B484; color:white; } /* #58A072 */
.found     { border:1px solid #822 !important;  }
.disabled  { color:#ccc !important; cursor:not-allowed !important; }
.hidden    { display:none; }
.inline    { display:inline-block; vertical-align:top; }
.data      { padding:5px; }
.mandatory { padding-left:3px; color:#c00; }

div.nodata { 
    background-color:#B04E4C; 
    border:1px solid #ccc; 
    border-radius:8px;
    color:white; 
    margin:10px;
    padding:10px; 
    text-align:center; 
    font-size:12px; 
}

div.caption  { font-weight:bold; font-size:12px; padding-right:10px; }
span.caption { font-weight:bold; font-size:12px; padding-right:11px; padding-left:11px; }

div { border:0px solid #ccc;  }

.p50 { width:50%; display:inline-block; }

/*** Index Page  ***/

table.view-data { border:1px solid #aaa; }
table.orders    { width:100% !important; }
table.params    { margin-left:10px; padding:10px 10px 0 10px; }

.params td.name  { padding-right:10px; padding-bottom:10px; width:120px; }
.params td.value { font-weight:bold; color:#004080; }

.view-container table { border-collapse:separate; border-spacing:1px; }
.view-container tr { border:0px solid #ccc; }
.view-container tr.odd  { background-color:#ececec; }
.view-container tr.even { background-color:#f7f7f7; }
.view-container td { border:1px solid #ccc; }
.view-container td.selected { border:1px solid #B73; background-color:#F8F4C8; color:#000; } /* #e7f7c7 */

#info-container td { vertical-align:top; border:0px solid #000;  }
#batch-content, #status-content { display:inline-block; } /* width:100% !important;  */
#status-content { float:right; }

/*** Admin Page  ***/

#admin-content { width:100%; border:0px solid #000; }
#user-view { min-width:750px; vertical-align:top; margin: 0 10px 10px 0; }
#user-view, #user-form-content { display:inline-block; border:0px solid #000; }

table.users { 
    width:100%;
    font-size:12px;
}

#user-form-content div.error { padding:10px; font-size:14px; text-align:center; margin-bottom:10px; }

/*** Forms  ***/

#user-form-content { 
    /*
    position:relative; 
    top:-120px; 
    */
    width:360px; 
    padding:10px; 
    float:right; 
    clear:both;
    /*
    display:inline-block; 
    */
    border:1px solid #ccc;
    margin-bottom:10px;
}

#user-form { margin:0; }
#user-form dl { margin:0; padding:0; }
#user-form dt, #user-form dd { display:inline-block; }
#user-form dt { width:116px; }
#user-form label, #user-form span.mandatory { display:inline-block; }
#user-form span.mandatory { position:relative; top:-3px; font:normal 10px Tahoma; color:#B00; }
#user-form ul { margin:0; }
#user-form li { list-style-type:none; background-color: #C86F6D; font-size:12px; padding: 0 10px 0 10px; color:white; margin-right:12px; }

/*** Buttons  ***/

.btn-command {
  color: #4080C0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #BFD2E4; /* #_85AACB #_A8C2DA */
  background-image: -moz-linear-gradient(top, #9DDAEC, #BFD2E4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9DDAEC), to(#BFD2E4));
  background-image: -webkit-linear-gradient(top, #9DDAEC, #BFD2E4);
  background-image: -o-linear-gradient(top, #9DDAEC, #BFD2E4);
  background-image: linear-gradient(to bottom, #9DDAEC, #BFD2E4);
  background-repeat: repeat-x;
  border-color: #BFD2E4 #BFD2E4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-command:hover,
.btn-command:focus,
.btn-command:active,
.btn-command.active,
.btn-command.disabled,
.btn-command[disabled] { 
    color: #004080; 
    background-color: #BFD2E4; 
    *background-color: #2a85a0; 
}

.btn-command:active,
.btn-command.active { background-color: #24748c \9; }

/*** Menu  ***/

#menu { margin:0; display:inline-block; float:right; }

.data-menu { margin:0; padding:0; }
.data-menu div { 
    background-color:#E7EAEB;
    border:1px solid #cccccc; 
    display:inline-block;
    padding:7px; 
    color:#888;
    cursor:pointer;
}
.data-menu div.selected { background-color:#888A20; color:#ffffff; } /* #886AB4 */

.data-menu div {
    border-radius:8px; 
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.menu-container { margin-left:20px; }
.menu-container li { list-style-type:none; }
.menu-item { margin-bottom:5px; }
.menu-item button { width:160px; font-size:12px; }

/*** Page&Form Fields  ***/

input.field { height:20px; margin-bottom:0px; }
select.popup { 
    font-size:12px;
    padding:0 5px 0 5px;
    margin:0;
    line-height:24px; 
}

input[type="checkbox"] { height:20px; margin:10px 0 5px 3px; line-height:20px; }
input[type="submit"] { margin-top:10px; }

#status { width:420px; }

.date { width:173px; padding:3px 6px !important; } /* 130px */
.filename { color:#626EA4; }

.TZ         { width:40px; }
.TID        { width:50px; }
.BatchType  { width:180px; }
.BatchNo    { width:40px; }
.ElementQty { width:40px; }
.Status     { width:80px; }
.StatusDate { width:100px; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
    background-image: none;
    color: rgb(0, 0, 0);
}

#user-form-content select, #user-form-content input { margin-bottom:5px; }

/*** Pagination  ***/

#log-pagination { 
    font-size:12px;
    border:0px solid #cccccc; 
    padding:8px 5px 8px 5px;
}

#log-pagination table { white-space:nowrap; }
#log-pagination div.total_rows { font-weight:bold; margin-left:5px; }
#log-pagination div.per_page { font-weight:bold; display:inline-flex; }
#log-pagination span.total {}

.total { padding:0 5px 0 5px; display:inline-block; }  /*width:80px !important;*/

#log-page { padding-left:0; margin-left:10px; }
#log-page dl { margin:0; padding:0; }
#log-page dt, #log-page dd { display:inline-block; }
#log-page dt { margin:0; padding:0; }
#log-page dd.pagination { margin:0; padding:0; }
#log-page dd.valid { border:1px solid #888888; border-radius:0px; padding:0; margin-left:3px; cursor:pointer; }
#log-page dd.empty { margin:0 0 0 2px; }
#log-page dd.selected { background-color:#C8AACE; border:1px solid #aa0000; }
#log-page dd.shift { cursor:pointer; font-family:Verdana; font-size:10px; }
#log-page dd.spaced { margin:0 5px 0 7px; color:black; font:bold 12px Verdana; }
#log-page dd.auto {}
#log-page dd.prev {}
#log-page dd.next {} /* margin-left:8px; */
#log-page a { padding:0 7px 0 6px; } /* */
#log-page a.nav { font:normal 12px Verdana; }

#log-per-page { display:inline-block; margin:2px 10px 0 8px; }

#log-filter { margin:10px; display:inline-block; float:left; clear:both; }
#log-filter select.popup { height:24px; }

#search-box  { position:relative; border:0px solid #000000; padding-right:10px; margin-top:0px; float:right; }
#search-form { margin:15px 0; padding:0; }
#search-context { 
    width:210px; 
    font-size:12px; 
    padding:5px 10px 5px 10px; 
    margin-top:5px;
}
#search-icon { cursor:pointer; }

/*** Window:Error ***/

#error-container { 
    padding:0;
    max-width:640px;
    min-width:520px !important;
    border-radius:12px;
    position:absolute; top:0px; left:0px;
    /*position:absolute; left:50%; top:50%; margin:-75px 0 0 -300px;*/
    -webkit-box-shadow: 0px 0px 30px #14314F;
    box-shadow: 0px 0px 30px #14314F;
    z-index:999;
}
#error-info {
    margin:10px; 
    border:1px solid #ffffff; 
    border-radius:8px; 
    text-align:center;
    padding:10px;
    font-family:Arial;
    font-style:normal;
    font-size:12px;
    color:#ffffff;
}
#error-info h3 { font-size:16px; font-weight:bold; line-height:10px; white-space:normal; letter-spacing:2px; white-space:nowrap; }
#error-info p { margin:10px 0 10px 0; font-weight:bold; line-height:16px; font-size:12px; font-family:Tahoma; }

#sort_icon { cursor:pointer; }

