#dataFrame { 
    margin:0px auto; 
    width:100%; 
}

div.flash { 
    margin:0 auto;
    padding:20px;
    max-width:500px;
}

.middle-header { width:300px !important; margin:0px auto; margin-top:40px; }

/*** Login Form  ***/

div.login { 
    background-color:#eeeeee;
    border:1px solid #800;
    border-radius:8px;
    width:280px;
    margin:0px auto;
    padding:20px;
}

div.login label { 
    display:flex; 
    font-family: Arial, sans-serif, Helvetica, 'Helvetica Neue', "Segoe UI";
    font-size:16px; 
    color:#666;
}
div.login label.control-label {
    font-weight:bold; 
}
div.login input[type="text"], div.login input[type="password"] { width:100%; }
div.login input[type="checkbox"], div.login input[type="radio"] { margin:1px 10px 8px -20px; }

div.login div.checkbox label { font-size:13px; margin-left:14px; }
div.login p { font-size:11px; }

div.password-rules {
    background-color:#eeeeee;
    border:1px solid #888;
    margin:20px auto;
    padding:20px;
    text-align:center;
}

div.password-rules h3 { font-size:16px; text-align:center; color:#a52a2a; }
div.password-rules h4 { text-align:center; color:#0000ff; }

div.password-rules p { 
    font-size:12px;
}

div.password-rules p.extra {
    font:bold 16px sans;
}
