
/*** PROVISION  ***/

tr.line {}

tr.line > td.column { height:28px; line-height:15px; }

/*** Provision View  ***/

.article  { width:300px; min-width:300px; }
.office   { width:160px; min-width:160px; }
.currency { width:50px; max-width:50px; }
.price    { width:100px; max-width:100px; }

div.mainmenu  { width:1000px; }

div.provision-container .data-buttons-inline button { 
    width:122px;
}

#order-form { padding-bottom:15px; }

#review_area div.review { margin:0; padding:5px; border:1px solid #aaa; }
#review_area textarea.review_note  { margin:0px; line-height:20px; height:80px; min-width:500px; max-width:800px; }

#dates-area { margin:2px 0; }

div.provision-container h3 { line-height:16px; } /* white-space:nowrap; */

div.provision-container #MAINDATA table { min-width:280px; }

div.provision-container td.log-status { white-space:nowrap; }

div.provision-container .data-buttons { padding:10px 0; text-align:center; }
div.provision-container .data-buttons button { margin-left:6px; }
div.provision-container .data-buttons .btn:last-child { margin-right:6px; }

div.provision-container .filename .EUR h3 { display:table; }
