
/*** Admin Page  ***/

#admin-content { width:100%; border:0px solid #000; }

#user-view { min-width:750px; vertical-align:top; margin: 0 0 10px 0; }
#user-view, #user-form-content { border:0px solid #000; }

table.users { 
    width:100%;
    font-size:12px;
}

/*** Admin Forms ***/

#user-form-content { 
    display:inline-block;
    vertical-align:top;
    width:360px; 
    padding:10px; 
    border:1px solid #ccc;
    margin-bottom:10px;
}

#user-form { margin:0; }
#user-form dl { margin:0; padding:0; }
#user-form dt, #user-form dd { display:inline-block; }
#user-form dt { width:116px; }
#user-form label, #user-form span.mandatory { display:inline-block; }
#user-form span.mandatory { position:relative; top:-3px; font:normal 10px Tahoma; color:#B00; }
#user-form ul { margin:0; }
#user-form li { list-style-type:none; background-color: #C86F6D; font-size:12px; padding: 0 10px 0 10px; color:white; margin-right:12px; }

#user-form-content div.error { padding:10px; font-size:14px; text-align:center; margin-bottom:10px; }

#profile-content {
    display:inline-block;
    border:1px solid #ccc;
    width:596px; 
    height:366px; 
}

div.profile-form-content { 
    margin:10px; 
}

div.profile-head {
    border:0px solid #000;
}

div.profile-head ul { padding:0; margin:0; }
div.profile-head li { 
    
    display:inline-block;
    list-style-type:none;
    font-size:12px;
    border:1px solid #ccc;
    text-align:center;
    padding:2px 10px 2px 10px;
}

div.profile-head li.selected { 
    background-color:#e7e7e7;
    border-bottom:0 none;
}

div.profile-head a { 
    white-space:nowrap;
    cursor:auto;
    line-height:20px;
    color:#402000;
    font-weight:normal;
    font-size:11px;
}

div.profile-data {
    border:1px solid #ccc;
    margin-top:-1px;
    padding:10px;
}

div.profile-data ul { padding:0; margin:0; }
div.profile-data li {
    border:1px solid #ccc;
    margin:1px 0 1px 0;
    line-height:18px;
}

div.profile-data-panel {
    border:1px solid #ccc;
    overflow-x:hidden; 
    overflow-y:auto;
    width:240px;
    height:232px; /* one item 21px */
    vertical-align:top;
}

div.profile-data-panel li { padding:0 10px 0 10px; cursor:pointer; }

#profile-clients-left, #profile-clients-commands, #profile-clients-right {
    display:inline-block;
}

#profile-clients-left, #profile-clients-right {
    font-size:12px;
    color:#333;
}

#profile-clients-commands {
    margin:85px 10px 0 10px;
}
