
div.page-header  { width:480px; }

.params td.name  { background-color:#9B9BC8; color:white; }
.params td.value { min-width: 160px; }

/*#ex_form_buttons { margin-left:36px; }*/
div.view-data-buttons { margin-left:26px; }
