{% extends "base.html" %}

{% block styles %}

{% block page_styles %}{% endblock %}

<style type="text/css">

{% if sidebar['state'] == 1 -%}

#sidebar-navigator { background-image: url("/static/img/s72.png"); }
#dataFrame { margin-left:422px; }

{%- else -%}

#sidebar-navigator { background-image: url("/static/img/s71.png"); background-position:center center; }
#semaphore, #sidebar-content { display:none; }
#dataFrame { margin-left:50px; }

{%- endif %}

#semaphore { margin:3px 12px 3px 0; }

</style>

{% endblock %}

{% block sidebar_content %}

<div id="sidebarFrame">

  <table border="0"><tr>
    <td><div id="semaphore" class="semaphore-default-background">
      {% for i in range(semaphore['count']) %}
        <div class="semaphore-item semaphore-default-item" id="semaphore-{{ semaphore['ids'][i] }}" 
            title="{{ _(semaphore['titles'][i]) }}"></div>
      {% endfor %}
    </div></td>
    <td><div id="sidebar-navigator" title="{{ _('Click it to collapse&expand sidebar control') }}"></div></td>
  </tr></table>

  <div id="sidebar-content">

  <div id="menu">

  {{ Forms.commands(base) }}

  {{ Forms.search(root, search) }}

  </div>

  {% block control_panel %}{% endblock %}

  {% block filter %}{% endblock %}

  </div>

</div>

{% endblock %}

{% block page_content %}

<section id="data-section">

  <div id="page-container">

  {% block data_section_content %}{% endblock %}

  <div id="log-pagination">
    <table border="0">
    <form action="{{ pagination['link'] }}" id="pagination-form" method="GET" onSubmit="return $onPaginationFormSubmit(this);">
    <input type="hidden" name="sidebar" value="">

    {% block pagination_form %}{% endblock %}

    <tr>
      <td><div class="caption total_rows">{% block pagination_title %}{% endblock %}:<div class="total">{{ pagination['total'] }}</div></div></td>
      <td>
        <div id="log-page">
          <dl>
            <dd id="page:prev" class="pagination auto prev">
              <a class="page nav {% if pagination['has_prev'] %}enabled{% else %}disabled{% endif %}" href="{{ pagination['link'] }}&page={{ pagination['current_page'] }}&prev=1" title="Назад"> << </a>
            </dd>
            <dd id="page:next" class="pagination auto next">
              <a class="page nav {% if pagination['has_next'] %}enabled{% else %}disabled{% endif %}" href="{{ pagination['link'] }}&page={{ pagination['current_page'] }}&next=1" title="Вперед"> >> </a>
            </dd>
            {% for p in pagination['iter_pages'] %}
              {%- if p == -1 -%}
            <dd class="pagination spaced disabled">...</dd>
              {%- else -%}
            <dd id="page:{{ p }}" class="pagination valid enabled {% if p == pagination['current_page'] %}selected{% endif %}">
              <a class="page" href="{{ pagination['link'] }}&page={{ p }}">{{ p }}</a>
            </dd>
              {%- endif -%}
            {% endfor -%}
          </dl>
        </div>
      </td>
      <td>
        <div id="log-per-page">
          <div class="caption per_page">Записей на странице:</div>
          <select class="popup" id="per-page" name="per_page" onchange="javascript:$SidebarControl.submit(this.form);">
          {% for o in pagination['per_page_options'] -%}
            <option value="{{ o }}" {% if pagination['per_page'] == o %}selected{% endif %}>{{ o }}</option>
          {%- endfor %}
          </select>
        </div>
      </td>

      {% if pagination['sort']['modes'] %}
      <td>
        <div id="log-sortbox">
          <div class="caption sortbox">Сортировка:</div>
          <select class="popup" name="sort" onchange="javascript:$SidebarControl.submit(this.form);">
          {% for value, name in pagination['sort']['modes'] -%}
            <option value="{{ value }}" {% if pagination['sort']['current_sort'] == value %}selected{% endif %}>{{ name|safe }}</option>
          {%- endfor -%}
          </select>
        </div>
      </td>
      {% endif %}
    </tr>

    </form>
    </table>

  </div>

  {% block info_section_content %}{% endblock %}

  </div>

</section>

<section id="footer-section">

  {% block footer %}{% include 'default-footer.html' %}{% endblock %}

</section>

{% endblock %}

