<footer id="page-footer">
  <div id="footer-content" class="{{ footer_class }}">
    <div class="page-footer {{ footer_subclass }}">
      <span class="footer-command">>>>&nbsp;<a id="scroll-top" href="#top" onclick="self.scrollTo(0,0);return false;">Наверх</a></span>
      <div class="footer-info">
        <span class="product-title">Web Менеджер БанкПерсо</span> <!-- BANKPERSO ORDER STATE MANAGEMENT SYSTEM-->
        <span class="f-indent">=</span>
        <span class="product-name">WebPerso</span>
        <span class="f-indent">=</span>
        <span class="product-title">версия {{ product_version }}</span>
        <span class="product-title"><a href="/changelog">[лист изменений]</a></span>
        <span class="product-release">© АО "Розан Файнэнс", 2016-2019</span>
      </div>
    </div>
  </div>
</footer>