{% extends "common.html" %}

{% import 'forms.html' as Forms %}

{% block starter %}

<script src="{{ url_for('static', filename='js/db.controller.min.js') }}{{ vsc }}"></script>
<script src="{{ url_for('static', filename='js/log.default.min.js') }}{{ vsc }}"></script>
<script src="{{ url_for('static', filename='js/profile.min.js') }}{{ vsc }}"></script>

{% endblock %}

{% block data_section_content %}

{% endblock %}

{% block info_section_content %}

{% endblock %}

{% block pagination_title %}Заказов / карт{% endblock %}

{% block pagination_form %}

{% endblock %}

{% block filter %}

{% endblock %}

{% block control_panel %}

{% endblock %}

{% block dialogs_content %}

{% endblock %}
