{%- macro render_login(field) -%}

  <div class="form-group {% if field.flags.required %}required{% endif %}">
    <label class="control-label" for="{{ field.id }}">{{ field.label.text|safe }}</label>
    <input class="form-control" id="{{ field.id }}" name="{{ field.name }}" {% if field.flags.required %}required{% endif %} type="text" value="">
  </div>

{%- endmacro -%}

{%- macro render_password(field) -%}

  <div class="form-group {% if field.flags.required %}required{% endif %}">
    <label class="control-label" for="{{ field.id }}">{{ field.label.text|safe }}</label>
    <div class="input-group">
      <input class="form-control" id="{{ field.id }}" name="{{ field.name }}" {% if field.flags.required %}required{% endif %} type="password" value="">
      <div class="input-group-addon x_pass" for="{{ field.id }}"><span class="glyphicon glyphicon-eye-open" title="Показать пароль"></span></div>
    </div>
  </div>

{%- endmacro -%}

{%- macro render_submit(field) -%}

  <input class="btn btn-default" id="{{ field.id }}" name="{{ field.name }}" type="submit" value="{{ field.label.text|safe }}">

{%- endmacro -%}

{%- macro render_field(field) %}

  <dt>{{ field.label }}{%- if field.flags.required -%}<span class="mandatory">*</span>{%- endif -%}</dt>
  <dd>{{ field(**kwargs)|safe }}</dd>
  
  {%- if field.errors %}
  <ul class=errors>
    {%- for error in field.errors %}
    <li>{{ field.gettext(error) }}</li>
    {% endfor -%}
  </ul>
  {%- endif %}
  <br>

{%- endmacro %}

{%- macro render_select(id, name, values, disabled) %}

  <select class="popup" id="{{ id }}" name="{{ name }}" {{ disabled }}>
  {% for value in values -%}
    <option value="{{ value }}">{{ value }}</option>
  {%- endfor %}
  </select>

{%- endmacro %}

{%- macro render_combo(id, name, values, disabled) %}

  <select class="popup" id="{{ id }}" name="{{ name }}" {{ disabled }}>
  {% for value in values -%}
    <option value="{{ value[0] }}">{{ value[1] }}</option>
  {%- endfor %}
  </select>

{%- endmacro %}

{%- macro render_navigation_item(item) %}

  <li class="{{ item['class'] }}"><a class="mainmenu" href="{{ item['link'] }}">{{ item['title'] }}</a></li>

{%- endmacro %}

{%- macro render_navigation_link(item) %}

  <div class="link {{ item['class'] }}"><a class="mainmenu" href="{{ item['link'] }}">{{ item['title'] }}</a></div>

{%- endmacro %}

{%- macro render_persostation(field) %}

  <div class="form-group required">
    {{ field.label(class_="control-label") }}
    {{ field(**kwargs)|safe }}
  </div>

{%- endmacro %}

{%- macro render_calculator(id, name, value) %}

  <div class="form-group">
    <div class="title"><label for="{{ id }}">{{ name }}</label></div>
    <div class="value"><input type="checkbox" id="{{ id }}" name="{{ id }}" value="1" {% if value %}checked{% endif %}></div>
  </div>

{%- endmacro %}

{%- macro render_calculator_item(gtype, id, item, notes) %}

  <tr class="form-group item {{ item.css }}" id="row_{{ id }}">
  {%- set controls = item.controls -%}
  {%- if gtype == '0' -%}
    {%- set control = controls['item'] -%}
    {%- set cid = control.id -%}
    {%- set cname = control.name -%}
    {%- set css = control.css -%}
    {%- if item.ctype == '0' -%}
    <td><div class="title checkbox"><label class="{{ item.css }}" for="{{ cid }}">{{ item.title }}</label></div></td>
    <td><div class="value checkbox">
      <input type="checkbox" id="{{ cid }}" name="{{ cname }}" value="1"><span></span></div></td>
    {%- elif item.ctype == '1' -%}
    <td><div class="title checkbox"><label class="{{ item.css }}" for="{{ cid }}">{{ item.title }}</label></div></td>
    <td><div class="value number">
      <input type="number" id="{{ cid }}" name="{{ cname }}" min="{{ control.min }}" max="{{ control.max }}" value="0"></div></td>
    {%- elif item.ctype == '2' -%}
    <td><div class="title radio"><label class="{{ item.css }}" for="{{ cid }}">{{ item.title }}</label></div></td>
    <td><div class="value radio">
      <input type="radio" id="{{ cid }}" name="{{ cname }}" value="{{ item.value }}" {% if item.checked %}checked{% endif %}><span></span></div></td>
    {%- elif item.ctype == '11' -%}
    <td><div class="title checkbox"><label class="{{ item.css }}" for="{{ cid }}">{{ item.title }}</label></div></td>
    <td><div class="value checkbox">
      <input type="checkbox" id="{{ cid }}" name="{{ cname }}" value="1"><span></span></div></td>
    <td>
      <div class="box">
        {%- set color = controls['color'] -%}
        <div class="value select">
          <select class="color" id="{{ color.id }}" name="{{ color.name }}">
            {%- for option in color.options %}<option id="{{ option.id }}" value="{{ option.value }}">{{ option.title }}</option>{% endfor -%}
          </select>
        </div>
      </div>
    </td>
    {%- elif item.ctype == '21' -%}
    <td><div class="title radio"><label for="{{ cid }}">{{ item.title }}</label></div></td>
    <td><div class="value radio">
      <input type="radio" id="{{ cid }}" name="{{ cname }}" value="{{ item.value }}" {% if item.checked %}checked{% endif %}><span></span></div></td>
    <td>
      <div class="box">
        {%- set color = controls['color'] -%}
        <div class="value select">
          <select class="color" id="{{ color.id }}" name="{{ color.name }}">
            {%- for option in color.options %}<option id="{{ option.id }}" value="{{ option.value }}">{{ option.title }}</option>{% endfor -%}
          </select>
        </div>
      </div>
    </td>
    {%- elif item.ctype == '3' -%}
    <td><div class="title select"><label class="{{ item.css }}" class="{{ item.css }}" for="{{ cid }}">{{ item.title }}</label></div></td>
    <td colspan="3">
      <div class="value select">
        <select class="{{ css }}" id="{{ cid }}" name="{{ cname }}">
          {%- for option in control.options %}<option id="{{ option.id }}" value="{{ option.name }}">{{ option.title }}</option>{% endfor -%}
        </select>
      </div>
    </td>
    {%- endif -%}
  {%- elif gtype == '1' -%}
    {%- set face = controls['face'] -%}
    {%- set back = controls['back'] -%}
    {%- if item.ctype == '0' -%}
    <td><div class="title checkbox"><label for="{{ face.id }}">{{ item.title }}</label></div></td>
    <td><div class="value checkbox"><input type="checkbox" value="1" 
      {% if not face %} class="blocked" disabled>{% else %} id="{{ face.id }}" name="{{ face.name }}"><span></span>{% endif %}</div></td>
    <td><div class="value checkbox"><input type="checkbox" value="1" 
      {% if not back %} class="blocked" disabled>{% else %} id="{{ back.id }}" name="{{ back.name }}"><span></span>{% endif %}</div></td>
    {%- elif item.ctype == '1' -%}
    <td><div class="title number"><label for="{{ face.id }}">{{ item.title }}</label></div></td>
    <td><div class="value number"><input type="number"
      {% if not face %} class="blocked" value="" disabled{% else %} id="{{ face.id }}" name="{{ face.name }}" 
      min="{{ face.min }}" max="{{ face.max }}" value="0"{% endif %}></div></td>
    <td><div class="value number"><input type="number" 
      {% if not back %} class="blocked" value="" disabled{% else %} id="{{ back.id }}" name="{{ back.name }}" 
      min="{{ back.min }}" max="{{ back.max }}" value="0"{% endif %}></div></td>
    {%- elif item.ctype == '2' -%}
    <td><div class="title radio"><label for="{{ face.id }}">{{ item.title }}</label></div></td>
    <td><div class="value radio"><input type="radio" id="{{ face.id }}" name="{{ face.name }}" value="{{ face.value }}"
      {% if item.checked %}checked{% endif %}><span></span></div></td>
    <td><div class="value radio"><input type="radio" id="{{ back.id }}" name="{{ back.name }}" value="{{ back.value }}"
      {% if item.checked %}checked{% endif %}><span></span></div></td>
    {%- endif -%}
  {%- endif -%}
  {%- if notes -%}
    {%- set comments, has_image = notes -%}
    <td colspan="2"><div class="comment" id="comment_{{ id }}">
    {%- for comment in comments -%}
        <p>{{ comment|safe }}</p>
    {%- endfor -%}
    {%- if has_image -%}
        <img class="screenshot" id="screenshot_{{ id }}" src="{{ root }}static/img/screenshot.png" alt="Screenshot">
    {%- endif -%}
    </div></td>
  {%- endif -%}
  </tr>

{%- endmacro %}
